<nav class="mg-20-0 w-600 mxw-100 flex-center-between">
	<div>
		<a mat-button color="primary" routerLink="/dash" routerLinkActive="active">Dashboard</a>
		<a mat-button color="primary" routerLink="/admin" routerLinkActive="active">Admin</a>
	</div>
	<a mat-button color="primary" routerLink="/login" routerLinkActive="active"><mat-icon>logout</mat-icon> Logout</a>
</nav>
<div class="w-600 mxw-100">
	<div class="flex-center-between flex-row-reverse">
		<mat-icon [matBadge]="items()" matBadgeOverlap="false" matBadgePosition="before" matTooltip="Total tasks" style="margin:10px 0;">reorder</mat-icon>
		
		<button *ngIf="edit()" mat-icon-button color='accent' matTooltip="Add new task" (click)="openDialog( 'New Task', '', NaN )">
			<mat-icon>add</mat-icon>
		</button>
	</div>

	<ul class="flex flex-col-reverse">
		<li class="todo" *ngFor=" let todo of state$ | async ">
			<mat-card class='todo-card'>

				<div *ngIf="edit(); else elseCard">
					<div class="flex-center">
						<div class="checkbox-wrapper flex-center-center">
							<div *ngIf="todo.completed; else elseCheckbox">
								<mat-checkbox [checked]="true" (click)="clickComplete( todo.id )"></mat-checkbox>
							</div>
							<ng-template #elseCheckbox>
								<mat-checkbox (click)="clickComplete( todo.id )"></mat-checkbox>
							</ng-template>
						</div>

			   			<div class="w-500 mxw-90" [ngClass]="{'completed': todo.completed }" (click)="openDialog( 'Edit Task', todo.title, todo.id )" matTooltip="Edit Task">{{ todo.title }}</div>
					</div>
					<div class="todo-remove">
						<button mat-icon-button color='warn' matTooltip="Remove Task" (click)="removeTodo( todo.id )">
					      <mat-icon>close</mat-icon>
					    </button>
					</div>
				</div>

				<ng-template #elseCard>
					<div class="flex-center">
						<div class="checkbox-wrapper flex-center-center">
							<mat-icon>{{ todo.completed ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
						</div>
						<div class="w-500" [ngClass]="{'completed': todo.completed }">{{ todo.title }}</div>
					</div>
				</ng-template>

			</mat-card>	   
		</li>
	</ul>
</div>